Twitter-to-MongoDB-Flow.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>c73163b7-0166-1000-a657-9d4cf1bd6953</groupId>
    <name>Twitter-to-MongoDB-Flow</name>
    <snippet>
        <processGroups>
            <id>3c24bb7e-4f66-353a-0000-000000000000</id>
            <parentGroupId>cb96be56-8782-3fb9-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>52cf480e-3d03-3e9a-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>49dd223f-b252-3793-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>c23243a6-b129-3b7b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5bafdf63-b55d-3af0-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>c3fcb5d4-863b-357a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>tweet_loc</selectedRelationships>
                    <source>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>9940efc5-940c-3b54-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6b51df38-d2f1-37c5-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>229a31b4-c59f-354d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>c3fcb5d4-863b-357a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7343b4fd-6ad6-3df2-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>c23243a6-b129-3b7b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>229a31b4-c59f-354d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>80458cc1-3f1a-3a29-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>9940efc5-940c-3b54-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>84aaea0b-4da1-3c8d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8b0784fc-3626-3fc3-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>d69124d5-7c2f-374a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>49dd223f-b252-3793-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>932ec502-443d-3d1b-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>e0c432d0-51a1-3df3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>289da0fd-e113-3e26-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9a52d035-7f1e-3a38-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>84aaea0b-4da1-3c8d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>e0c432d0-51a1-3df3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a047afde-e0bd-3f67-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>98b754ea-4d17-3a41-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>9940efc5-940c-3b54-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e1a76788-ed14-3186-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>06d0e840-968f-3eff-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>d69124d5-7c2f-374a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ef9d1c74-5f34-3f8f-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>12566a05-a31f-31f5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>tweet_keyword</selectedRelationships>
                    <source>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>d69124d5-7c2f-374a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ff0e8049-8362-3319-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>06d0e840-968f-3eff-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>3c24bb7e-4f66-353a-0000-000000000000</groupId>
                        <id>12566a05-a31f-31f5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>06d0e840-968f-3eff-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <position>
                        <x>3032.345971679688</x>
                        <y>505.5220344543459</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>
    <name>Upsert</name>
</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>
    <name>Update Query Key</name>
</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
<value>
    <name>putmongo-update-query</name>
</value>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>
    <name>put-mongo-update-mode</name>
</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>
    <name>Write Concern</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>mongodb://43.240.96.158:27017/Twitter</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>Twitter</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>twitter-australia</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>REQUIRED</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>insert</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>ACKNOWLEDGED</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutMongo</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                </processors>
                <processors>
                    <id>12566a05-a31f-31f5-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <position>
                        <x>3037.340442098497</x>
                        <y>773.4429871880097</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[{
	"operation": "shift",
	"spec": {
		"*": "&amp;"
	}
},{
       "operation": "default",
      "spec": {
      "soda_query_searched": ["metoo", "timesup", "violenceagainstwomen", "genderequality", "domesticviolence"]
    }
  }]</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>229a31b4-c59f-354d-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1680.2122259174707</x>
                        <y>335.19819830397273</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Dictionary File</key>
<value>
    <name>Dictionary File</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Pattern</key>
<value>
    <name>Attribute Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Match Criteria</key>
<value>
    <name>Match Criteria</name>
</value>
                            </entry>
                            <entry>
<key>Dictionary Filter Pattern</key>
<value>
    <name>Dictionary Filter Pattern</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Dictionary File</key>
<value>/mnt/code/nifi-templates/supporting-files/filter-out-locations.csv</value>
                            </entry>
                            <entry>
<key>Attribute Pattern</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Match Criteria</key>
<value>At Least 1 Must Match</value>
                            </entry>
                            <entry>
<key>Dictionary Filter Pattern</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ScanAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ScanAttribute</type>
                </processors>
                <processors>
                    <id>289da0fd-e113-3e26-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <position>
                        <x>992.8193664550781</x>
                        <y>334.4038281440735</y>
                    </position>
                    <bundle>
                        <artifact>nifi-social-media-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Twitter Endpoint</key>
<value>
    <name>Twitter Endpoint</name>
</value>
                            </entry>
                            <entry>
<key>Consumer Key</key>
<value>
    <name>Consumer Key</name>
</value>
                            </entry>
                            <entry>
<key>Consumer Secret</key>
<value>
    <name>Consumer Secret</name>
</value>
                            </entry>
                            <entry>
<key>Access Token</key>
<value>
    <name>Access Token</name>
</value>
                            </entry>
                            <entry>
<key>Access Token Secret</key>
<value>
    <name>Access Token Secret</name>
</value>
                            </entry>
                            <entry>
<key>Languages</key>
<value>
    <name>Languages</name>
</value>
                            </entry>
                            <entry>
<key>Terms to Filter On</key>
<value>
    <name>Terms to Filter On</name>
</value>
                            </entry>
                            <entry>
<key>IDs to Follow</key>
<value>
    <name>IDs to Follow</name>
</value>
                            </entry>
                            <entry>
<key>Locations to Filter On</key>
<value>
    <name>Locations to Filter On</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Twitter Endpoint</key>
<value>Sample Endpoint</value>
                            </entry>
                            <entry>
<key>Consumer Key</key>
<value>bhnwy7L8zKWwZGsljOeJDSnPf</value>
                            </entry>
                            <entry>
<key>Consumer Secret</key>
                            </entry>
                            <entry>
<key>Access Token</key>
<value>835404171335479296-bftKo65lqhjA2UwIV9jRCZGxkwOMy6a</value>
                            </entry>
                            <entry>
<key>Access Token Secret</key>
                            </entry>
                            <entry>
<key>Languages</key>
<value>en</value>
                            </entry>
                            <entry>
<key>Terms to Filter On</key>
                            </entry>
                            <entry>
<key>IDs to Follow</key>
                            </entry>
                            <entry>
<key>Locations to Filter On</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetTwitter</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.twitter.GetTwitter</type>
                </processors>
                <processors>
                    <id>49dd223f-b252-3793-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <position>
                        <x>2325.1930638933804</x>
                        <y>548.0486177141837</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>clause1</key>
<value>
    <name>clause1</name>
</value>
                            </entry>
                            <entry>
<key>clause2</key>
<value>
    <name>clause2</name>
</value>
                            </entry>
                            <entry>
<key>clause3</key>
<value>
    <name>clause3</name>
</value>
                            </entry>
                            <entry>
<key>clause4</key>
<value>
    <name>clause4</name>
</value>
                            </entry>
                            <entry>
<key>clause5</key>
<value>
    <name>clause5</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>clause1</key>
<value>${text:toLower():contains("#metoo")}</value>
                            </entry>
                            <entry>
<key>clause2</key>
<value>${text:toLower():contains("#timesup")}</value>
                            </entry>
                            <entry>
<key>clause3</key>
<value>${text:toLower():contains("#genderequality")}</value>
                            </entry>
                            <entry>
<key>clause4</key>
<value>${text:toLower():contains("#violenceagainstwomen")}</value>
                            </entry>
                            <entry>
<key>clause5</key>
<value>${text:toLower():contains("#domesticviolence")}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>84aaea0b-4da1-3c8d-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1003.1507054949429</x>
                        <y>775.770488136547</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>clause1</key>
<value>
    <name>clause1</name>
</value>
                            </entry>
                            <entry>
<key>clause10</key>
<value>
    <name>clause10</name>
</value>
                            </entry>
                            <entry>
<key>clause2</key>
<value>
    <name>clause2</name>
</value>
                            </entry>
                            <entry>
<key>clause5</key>
<value>
    <name>clause5</name>
</value>
                            </entry>
                            <entry>
<key>clause6</key>
<value>
    <name>clause6</name>
</value>
                            </entry>
                            <entry>
<key>clause7</key>
<value>
    <name>clause7</name>
</value>
                            </entry>
                            <entry>
<key>clause8</key>
<value>
    <name>clause8</name>
</value>
                            </entry>
                            <entry>
<key>clause9</key>
<value>
    <name>clause9</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>clause1</key>
<value>${location:toLower():contains("melbourne")}</value>
                            </entry>
                            <entry>
<key>clause10</key>
<value>${location:toLower():contains("australia")}</value>
                            </entry>
                            <entry>
<key>clause2</key>
<value>${location:toLower():contains("sydney")}</value>
                            </entry>
                            <entry>
<key>clause5</key>
<value>${location:toLower():contains("brisbane")}</value>
                            </entry>
                            <entry>
<key>clause6</key>
<value>${location:toLower():contains("perth")}</value>
                            </entry>
                            <entry>
<key>clause7</key>
<value>${location:toLower():contains("adelaide")}</value>
                            </entry>
                            <entry>
<key>clause8</key>
<value>${location:toLower():contains("gold coast")}</value>
                            </entry>
                            <entry>
<key>clause9</key>
<value>${location:toLower():contains("canberra")}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>98b754ea-4d17-3a41-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1694.4630371093754</x>
                        <y>1026.9670646667482</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>
    <name>Upsert</name>
</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>
    <name>Update Query Key</name>
</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
<value>
    <name>putmongo-update-query</name>
</value>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>
    <name>put-mongo-update-mode</name>
</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>
    <name>Write Concern</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>mongodb://43.240.96.158:27017/Twitter</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>Twitter</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>twitter-other</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>REQUIRED</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>insert</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>ACKNOWLEDGED</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutMongo</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                </processors>
                <processors>
                    <id>9940efc5-940c-3b54-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1688.8081886127993</x>
                        <y>766.5638498063157</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>tweet_loc</key>
<value>
    <name>tweet_loc</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>tweet_loc</key>
<value>${clause1:or(${clause2}):or(${clause5}):or(${clause6}):or(${clause7}):or(${clause8}):or(${clause9}):or(${clause10})}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Filter Location</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>tweet_loc</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>c23243a6-b129-3b7b-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <position>
                        <x>2313.956388713577</x>
                        <y>339.3398855255275</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>text</key>
<value>
    <name>text</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>text</key>
<value>$.text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Get Text</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>c3fcb5d4-863b-357a-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1683.3344404713894</x>
                        <y>549.7910345123439</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>location</key>
<value>
    <name>location</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>location</key>
<value>$.user.location</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Get Location After First Filter</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>d69124d5-7c2f-374a-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <position>
                        <x>2330.8722144917056</x>
                        <y>770.5679429764817</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>tweet_keyword</key>
<value>
    <name>tweet_keyword</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>tweet_keyword</key>
<value>${clause1:or(${clause2}):or(${clause3}):or(${clause4}):or(${clause5})}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Filter Text</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>tweet_keyword</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>e0c432d0-51a1-3df3-0000-000000000000</id>
                    <parentGroupId>3c24bb7e-4f66-353a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1000.2898848073269</x>
                        <y>564.3456991241603</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>location</key>
<value>
    <name>location</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>location</key>
<value>$.user.location</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Get Location</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
            </contents>
            <name>Twitter to MongoDB Flow</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>12/21/2018 04:57:45 UTC</timestamp>
</template>
